/node_modules
/build
/build111
/build*
/icons_ily
src.tar.gz
TZ Artem/
building/
/for_building
build.tar.gz
setting nginx/
server.tar.gz
server.tar.gz
server-pm2-start.json
server
my_todo.md
/server_for_bot
/banner
observerBot/
.vercel
TZ.docx
/old_versoin_build
