.lang{
    // lang__lang-container
&__lang-container{
    padding: 0;
}

// lang__control-lang
&__control-lang {
    position: relative;

    &>div:first-child {
        &>div>input{
            visibility: hidden;
        }
    }
    
    &>div:last-child {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;

        &>div {
            width: 100%;
            opacity: 0;
        }
    }

    /*stylelint-disable*/
    &+div {
        background: transparent;
        box-shadow: none;
display: flex;
    justify-content: flex-end;
        &>div{
            max-width: 55px;
            &>div {
            border-radius: 7px;
        }
    }
    }
}
}