.block{
  &__container{
    // block__container-inner-block{}
    &-inner-block{
      padding: 0;
      position: relative;
    }

    // block__container-block{}
    &-block{
      padding: 0;
      width: 100%;

    }

    // block__container-block--border{}
    &-block--border{
      padding: 15px 20px;
      border: 1px solid var(--border-color);
      background-color: var(--bg-block);
      border-radius: 10px;
      display: block;
      position: relative;
    }

    // block__container--two-column{}
    &--two-column{
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      position: relative;
    }

    // block__container--icon{}
    &--icon{
      position: relative;
    }

    // block__container--row-grid{}
    &--row-grid{
      position: relative;
      display: grid;
      grid-auto-rows: auto;
      gap: 3px;
      letter-spacing: 0;
      filter: blur(var(--filter-blur))
    }
  }

  // block__title{}
  &__title{
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-family-default);
    color: var(--text-color-blue);
    letter-spacing: 0;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;    
    line-height: 22px;

    // block__title-desc{}
    &-desc{
      padding: 0;
      font-size: 13px;
      font-family: var(--font-family-default);
      letter-spacing: 0;
      font-weight: 500;
      color: var(--text-color-opacity);
    }
  }
}