.grid{
  // grid__column{}
  &__column{
    padding: 0;
    display: grid;
  }

  // grid__row{}
  &__row{
    padding: 0;
    display: grid;
  }

  // grid__container{}
  &__container{
    display: grid;
  }

}