.button {
  // button--disabled
  &--disabled {
    pointer-events: none;
    background-color: var(--background-color-block-disabled) !important;

    &:hover {
      cursor: not-allowed;
    }
  }
}