@import './variables';
@import './normalize';
@import './fonts/fonts';
@import './phone-number';
@import './swiper-user-style';

#root {
  overflow: hidden;
  margin: 0 auto;
  
}

body {
  background-color: var(--bg-color-common);
  margin: 0;
  font-family: var(--font-family-default);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-button {
    margin: 20px;
    padding: 50px;
  }

  &::placeholder {
    color: var(--placeholder-color);
    font-size: var(--placeholder-color);
    letter-spacing: 0;
    font-weight: 400;
    font-family: var(--font-family-default);    
  }

}


.icon {
  &__rotation {
    &>div>svg {
      width: 50px;
      height: 50px;

      & .cogs {
        animation: 5s linear 0s infinite normal none running rotation;
        transform-origin: 50% 50% 0;
      }
    }
  }
}


.react-select{
  // react-select__control
  &__control{
    background-color: var(--bg-block) !important;
    filter: blur(var(--filter-blur));
  }

// react-select__control--menu-is-open
  &__control--menu-is-open{
    border-color: var(--border-color) !important;
        box-shadow: 0 0 0 1px var(--border-color) !important;
  }

  // react-select__menu
  &__menu{
    z-index: 9999 !important;
  }

  // react-select__input
  &__input{
    &::placeholder {
      color: var(--placeholder-color);
      font-size: var(--placeholder-color);
      letter-spacing: 0;
      font-weight: 400;
      font-family: var(--font-family-default);
    }
  }
}

.loading {
  &__rotation {
    &>div>svg {
      & .cogs {
        animation: 5s linear 0s infinite normal none running rotation;
        transform-origin: 50% 50% 0;
      }
    }
  }
}

.icon-color {
  fill: #f00;
}

.ct-toast {
  &:first-child {
    margin-top: 45px !important;
  }
}

#scroll {
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--bg-menu-top) inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
}

// #form-payment-access__discription-context-item-title-description-3{}
#form-payment-access .discription-context-item-title-description-3 {
  color: var(--placeholder-color);
}

.r-test-1brsnhr {
  &::-webkit-scrollbar {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--font-family-default);
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
}


pre {
  max-width: 320px;
  white-space: pre-line;
  display: block;
  word-break: break-all;
}


#image {
  width: 100%;
  height: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select {
  background-color: var(--bg-native-select-color);

  &>option {
    font-weight: 400px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: var(--min-width);
  overflow: hidden;
}

.main-context {
  background-color: var(--bg-color-common);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  transition: top .8s ease-out 0s;
  margin-top: var(--main-margin-top);
  margin-bottom: var(--margin-bottom-isselect);
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.background {
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    opacity: .5;
    position: absolute;
  }
}

// action__background-loading
.action {
  &__background-loading {
    position: absolute;
    border-radius: 14px;
    left: 0;
    bottom: 0;
    background-color: #00000046;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: -1px;
  }
}

.main-context-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: top .8s ease-out 0s;
  background-color: var(--bg-menu-top);
  margin-top: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: var(--header-overflow);
  margin-bottom: -25px;
  width: 100%;
  position: fixed;
  z-index: 9999;
  flex: 1;
  min-height: 55px;

  &::-webkit-scrollbar {
    display: none;
  }

  &::after {
    content: '';
    width: 100%;
    height: 1px;

    // background-color: var(--border-color);
    box-shadow: -10px -1px 10px #000000a1;
  }
}

#parent {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#child {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
}

.goto {
  position: absolute;
  top: -60px;
}

.iframe-test {
  min-height: 100%;
  height: 100vh;
}

.full-screen {
  width: 95% !important;
  height: 95% !important;
  display: block !important;

  &>div>div>div {
    width: 100%;
  }
}

.toogle-theme {
  width: 60px;
  min-height: 30px;
  display: flex;
  align-items: center;
  padding: 0 7px;
  position: absolute;
  left: -4px;
  bottom: 30px;
  transform: rotate(90deg);
  z-index: 99999999;
  transition: all .8 ease-in-out;

  &::after {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #090909;
    content: '';
    height: 100%;
    width: 50%;
    border-radius: 50% 0 0 60%;
  }

  &::before {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--bg-menu-top);
    content: '';
    height: 100%;
    width: 50%;
    z-index: 5;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-radius: 0 50% 50% 0;
  }
}

.swiper-button-next {
  &::after {
    z-index: 10;
    color: var(--swiper-color);
    transform: scale(.5);
  }

  &::before {
    position: absolute;
    z-index: 9;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-fone-background);
    min-width: 42px;
    min-height: 34px;
    border-radius: 50%;
    transform: translate(-5px, 0);
    border: 1px solid var(--border-color);
  }
}

.swiper-button-prev {
  &::after {
    z-index: 10;
    color: var(--swiper-color);
    transform: scale(.5);
  }

  &::before {
    position: absolute;
    z-index: 9;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-fone-background);
    min-width: 42px;
    min-height: 34px;
    border-radius: 50%;
    transform: translate(-5px, 0);
    border: 1px solid var(--border-color);
  }
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}