.header{
    // header__list-container{}
    &__list-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    // header__list-items{}
    &__list-items{
        position: relative;
        cursor: pointer;

        // transform: translate(0, 50%);
        transition: all .5s ease-in-out; 
        filter: invert(0);  
        z-index: 10;          

        // header__list-items--back{}
        &--back{
            // filter: invert(1);     
            padding: 0;       
        }

        // header__list-items--main-lock{}
        &--main-lock{
            filter: invert(.5);
        }

        // header__list-items--lock{}
        &--lock{
            position: absolute;
            transform: translate(15px,-6px);
            z-index: 11;
        }
    }

    // header__select-item{}
    &__select-item{
        padding: 0;

        // transform: translate(0, 25%) scale(1.1);
        position: relative;

        & svg{
            fill: 'green'
        }

        &::after{
            position: absolute;
            content: "";
            width: 4px;
            height: 4px;
            bottom: -9px;
            background: var(--red-color);
            border-radius: 50%;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    // header__menu-background-container{}
    &__menu-background-container{
        width: 100%;
        display: block;
        position: absolute;
        height: 100vh;
        left: 0;
    }

    // header__menu-wrap--top{}
    &__menu-wrap--top{        
        background-color: var(--bg-block);
        display: flex;
        align-items: center;
        position: fixed;
        width: 100%;
        z-index: 1000;
        transition: top 0.8s ease-out 0s;
        top: 0;
        overflow: hidden;
        min-height: 50px;
        
        // header__menu-wrap--top--active{}
        &--active{
            top: 0;
        }

        &:hover{
            cursor: pointer;
        }

        &::before{
            content: "";
            width: 100vw;
            height: 100%;            
            background-color: var(--bg-block);
            display: block;
            position: absolute;
            top: -1px;
            left: 0;
            z-index: 999;
        }
    }

    // header__wrap-discription{}
    &__wrap-discription{
        display: flex;
        flex-direction: row;
        z-index: 10001;
    }

    // header__container-comeback{}
    &__container-comeback{
        &:hover{
            cursor: pointer;
        }
    }

    // header__wrap-container-heaider{}
    &__wrap-container-heaider{
        height: 56px;
        display: flex;
        align-items: center;
        line-height: 125%;
        width: 100%;
        justify-content: space-between
    }

    // header__title{}
    &__title{
        font-family: var(--font-family-default);
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
        color: var(--color-header-title);
        line-height: 22px;
        text-align: left;
        display:-webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        letter-spacing: 0;
    }

    // header__action{}
    &__action{
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        position: relative;
        top: -2px;
    }

    // header__arrow-wrap{}
    &__arrow-wrap{
        padding: 0;
        width: 150px;
        height: 60px;
        position: relative;
        top: 0;
        background-color: var(--bgc-burger-menu);
        transform: skew(-35deg) translate(-110px, 3px);
        box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
        border-radius: 0 30px 0 0;
        z-index: 10001;

        &::after{
            content: "";
            width: 100%;
            height: 100%;
            background-color: var(--bgc-burger-menu);
            box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
            border-radius: 0 30px 0 0;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 999;
            position: absolute;
        }

        &>span{
            z-index: 10000;
            transform: skew(35deg) translate(65px, 18px);

            /* padding-left: 26px; */
            font-family: var(--font-family-default);
            font-style: normal;
            font-weight: 500;
            font-size: 34px;
            line-height: 24px;
            font-feature-settings: "tnum" on, "lnum" on, "kern" off;
            color: var(--text-menu);
            position: fixed;
        }

    }

    // header__menu-wrap--bottom{}
    &__menu-wrap--bottom{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        min-height: 50px;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 9998;
        background-color: var(--bg-block);
        padding: 0 15px;
        box-shadow: 1px 1px 10px #000000a1;

    }

    // header__menu-items-image{}
    &__menu-items-image{
        padding: 0;
    }
}